body {
    color: #0D1F2D;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #F7F5FB;
}


h1, h2, h3, h4 {
    color: #780116;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

header {
    background: #780116;
    padding: 1.5em;
    position: fixed;
    width: 100vw;
    top: 0;
}
header h1 {
    color: #F7F5FB;
    margin: 0;
}

main {
    margin: 7em auto 2em auto;
    width: 50%;
    min-height: calc(100vh - 9em);
}

a {
    color: #780116;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.btn {
    background: #F7B538;
    padding: 1em;
    text-decoration: none;
    color: #0D1F2D;
    margin: 2em;
    display: inline-block;
}

footer {
    color: #F7F5FB;
    background: #0D1F2D;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
}
.social a {
    color: inherit;
    font-size: 1.5em;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5em;
    height: 1.5em;
    margin: .5em;
}
@media screen and (max-width: 900px) {
    main {
        width: 75%;
    }
}


