<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LockSoc</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="LockSoc">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://locksoc.org">
    <meta property="og:description" content="The University of Warwick Locking Picking Society">
    <script src="https://kit.fontawesome.com/cb4d1f8d9c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>LockSoc</h1>
    </header>
    <main>
   {{ block "main" . }}{{ end }}
    </main>
    <footer>
        &copy; 2020 Luke Spademan
        <div class="social">
            <a href="https://twitter.com/warwicklocksoc"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com/locksoc"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
</body>
</html>
