{{ define "main" }}
<h2>About Us</h2>
<p>We are the University of Warwick Lock Picking Society. We are in the process
of getting setup.</p>

<p>More information will appear here shortly. In the mean time you can follow
us on <a href="https://twitter.com/warwicklocksoc">twitter</a> and <a href="https://instagram.com/locksoc">instagram</a> for updates.</p>


{{ end }}
